In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/Advertising.csv')

X = df.drop('sales', axis=1)
y = df['sales']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [2]:
from sklearn.model_selection import cross_validate

In [3]:
from sklearn.linear_model import Ridge

In [4]:
model = Ridge(alpha=100)

In [5]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'],
                       cv=10)

In [6]:
scores

{'fit_time': array([0.061378  , 0.00120544, 0.00096083, 0.00093818, 0.00072455,
        0.00076294, 0.00073218, 0.00071216, 0.0007143 , 0.00070882]),
 'score_time': array([0.00109887, 0.00071669, 0.00060916, 0.00066304, 0.00053453,
        0.00055075, 0.00053358, 0.00053668, 0.00057721, 0.0005312 ]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [7]:
pd.DataFrame(scores)

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.061378,0.001099,-6.060671,-1.810212
1,0.001205,0.000717,-10.627031,-2.541958
2,0.000961,0.000609,-3.993426,-1.469594
3,0.000938,0.000663,-5.009494,-1.862769
4,0.000725,0.000535,-9.141800,-2.520697
5,0.000763,0.000551,-13.086256,-2.459995
6,0.000732,0.000534,-3.839405,-1.451971
7,0.000712,0.000537,-9.058786,-2.377395
8,0.000714,0.000577,-9.055457,-2.443344
9,0.000709,0.000531,-5.778882,-1.899797

In [8]:
scores = pd.DataFrame(scores)

In [9]:
scores.mean()

fit_time                        0.006884
score_time                      0.000635
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [10]:
model = Ridge(alpha=1)

In [11]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'],
                       cv=10)
scores = pd.DataFrame(scores)

In [12]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001428,0.000801,-2.962508,-1.457174
1,0.001072,0.000718,-3.057378,-1.555308
2,0.001025,0.000725,-2.173740,-1.238770
3,0.001388,0.000773,-0.833034,-0.768938
4,0.002127,0.000968,-3.464018,-1.434489
5,0.000982,0.000690,-8.232647,-1.494316
6,0.000929,0.000705,-1.905864,-1.081362
7,0.000961,0.000642,-2.765048,-1.250011
8,0.000825,0.000605,-4.989505,-1.580971
9,0.000851,0.000596,-2.846438,-1.223326

In [13]:
scores.mean()

fit_time                        0.001159
score_time                      0.000722
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [14]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [15]:
predictions = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [17]:
mean_squared_error(y_test, predictions)

2.3190215794287514

In [18]:
mean_absolute_error(y_test, predictions)

1.2168768443580582