In [33]:
import numpy as np
import pandas as pd

In [34]:
np.random.seed(101)
mydata = np.random.randint(0, 101, (4, 3))

In [35]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [36]:
myindex = ['CA', 'NY', 'AZ', 'TX']

In [37]:
mycolumns = ['Jan', 'Feb', 'Mar']

In [38]:
df = pd.DataFrame(mydata)

In [39]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [40]:
df = pd.DataFrame(data=mydata, index=myindex)

In [41]:
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [42]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)

In [43]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [45]:
# Where is my python file located?

In [46]:
pwd

'/home/ali/works/machine-learning/03-pandas-snippets'

In [47]:
ls

002-series-part-one.ipynb  004-dataframes-part-one-creating-a-dataframe.ipynb
003-series-part-two.ipynb

In [48]:
df = pd.read_csv('tips.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'tips.csv'

In [50]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [51]:
df = pd.read_csv('tipps.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'tipps.csv'

In [52]:
df = pd.read_csv('../03-pandas/tips.csv')

In [53]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672