In [1]:
import numpy as np
import pandas as pd

In [3]:
email = 'jose@email.com'

In [9]:
email.split('@')

['jose', 'email.com']

In [10]:
email.isdigit()

False

In [11]:
'5'.isdigit()

True

In [5]:
names = pd.Series(['andrew', 'bobo', 'claire', 'david', '5'])

In [6]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [12]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [13]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [14]:
len(tech_finance)

2

In [15]:
tickers = pd.Series(tech_finance)

In [16]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [23]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [18]:
tech = 'GOOG,APPL,AMZN'

In [19]:
tech.split(',')

['GOOG', 'APPL', 'AMZN']

In [20]:
tech.split(',')[0]

'GOOG'

In [21]:
tickers.str.split(',')[0]

['GOOG', 'APPL', 'AMZN']

In [22]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [25]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [26]:
messy_names = pd.Series(['andrew  ', 'bo;bo', '      claire     '])

In [27]:
messy_names

0             andrew
1                bo;bo
2          claire
dtype: object

In [28]:
messy_names[0]

'andrew  '

In [29]:
messy_names.str.replace(';', '')

0             andrew
1                 bobo
2          claire
dtype: object

In [30]:
messy_names.str.replace(';', '').str.strip()

0    andrew
1      bobo
2    claire
dtype: object

In [33]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [34]:
def cleanup(name):
    name = name.replace(';', '').strip().capitalize()
    return name

In [36]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object