In [1]:
import pandas as pd

In [2]:
pwd

'/home/ali/works/machine-learning/03-pandas-snippets'

In [3]:
ls

002-series-part-one.ipynb
003-series-part-two.ipynb
004-dataframes-part-one-creating-a-dataframe.ipynb
005-dataframes-part-two-basic-properties.ipynb
006-dataframes-part-three-working-with-columns.ipynb
007-dataframes-part-four-working-with-rows.ipynb
008-pandas-conditional-filtering.ipynb
009-pandas-useful-methods-apply-on-single-column.ipynb
010-pandas-useful-methods-apply-on-multiple-columns.ipynb
011-pandas-useful-methods-statistical-information-and-sorting.ipynb
013-missing-data-pandas-operations.ipynb
014-groupby-operations-part-one.ipynb
015-groupby-operations-part-two-multiindex.ipynb
016-combining-dataframes-concatenation.ipynb
017-combining-dataframes-inner-merge.ipynb
018-combining-dataframes-left-and-right-merge.ipynb
019-combining-dataframes-outer-merge.ipynb
020-pandas-text-methods-for-string-data.ipynb
021-pandas-time-methods-for-date-and-time-data.ipynb
022-pandas-input-and-output-csv-files.ipynb

In [4]:
import os

In [5]:
os.getcwd()

'/home/ali/works/machine-learning/03-pandas-snippets'

In [6]:
os.listdir()

['005-dataframes-part-two-basic-properties.ipynb',
 '013-missing-data-pandas-operations.ipynb',
 '014-groupby-operations-part-one.ipynb',
 '002-series-part-one.ipynb',
 '017-combining-dataframes-inner-merge.ipynb',
 '003-series-part-two.ipynb',
 '019-combining-dataframes-outer-merge.ipynb',
 '010-pandas-useful-methods-apply-on-multiple-columns.ipynb',
 '016-combining-dataframes-concatenation.ipynb',
 '018-combining-dataframes-left-and-right-merge.ipynb',
 '008-pandas-conditional-filtering.ipynb',
 '.ipynb_checkpoints',
 '009-pandas-useful-methods-apply-on-single-column.ipynb',
 '011-pandas-useful-methods-statistical-information-and-sorting.ipynb',
 '015-groupby-operations-part-two-multiindex.ipynb',
 '020-pandas-text-methods-for-string-data.ipynb',
 '022-pandas-input-and-output-csv-files.ipynb',
 '007-dataframes-part-four-working-with-rows.ipynb',
 '021-pandas-time-methods-for-date-and-time-data.ipynb',
 '004-dataframes-part-one-creating-a-dataframe.ipynb',
 '006-dataframes-part-three-working-with-columns.ipynb']

In [8]:
df = pd.read_csv('../03-pandas/example.csv')

In [9]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
pd.read_csv('../03-pandas/example.csv', header=None)

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [13]:
pd.read_csv('../03-pandas/example.csv', index_col=0)

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [16]:
df.to_csv('newfile.csv', index=True)

In [18]:
df.to_csv('newfile.csv', index=False)

In [19]:
new = pd.read_csv('newfile.csv')

In [20]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15